.wrapper {
    width: 80%;
    margin: 0 auto;
}
.shadow {
    display: table;
    // background-color: rgba(black, 0.1);
    height: 100%;
    width: 100%;
    text-align: center;
}
h2,
h3 {
    color: #fff;
    font-family: 'kg-sketched';
    margin-bottom: 10px;
}
h2 {
    margin-bottom: 30px;
}
h2 hr {
    height: 2px;
    width: 130px;
    background-color: $rojobriana;
    margin: 0 auto 2em;
}
.android_button {
    margin: 0.3em 0;
    display: inline-block;
    :hover {
        color: $verdeandroid;
    }
}
.inicio {
    // background-image: url('../../images/fondo2.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    // display: block;
    height: 100%;
    // overflow: hidden;
    .menu_logo_movil_abrir {
        position: fixed;
        right: 0;
        margin-top: 10px;
        margin-right: 15px;
        z-index: 1;
        text-shadow: 2px 2px #000000;
    }
    .menu {
        // background-color: $GreyDark;
        background-image: url('../../images/fondo4.jpg');
        position: fixed;
        z-index: 1;
        display: none;
        right: 0;
        height: 100%;
        width: 58%;
        .menu_logo_movil_cerrar {
            text-align: right;
            margin-top: 10px;
            margin-right: 15px;
            margin-bottom: 15px;
            text-shadow: 2px 2px #000000;
        }
        .menu_secciones {
            ul {
                li {
                    display: block;
                    text-align: center;
                    a {
                        .icon-menu {
                            width: 30px;
                            display: block;
                            margin: 0 auto;
                        }
                        :hover {
                            border: 0;
                        }
                        font-family: 'kg-sketched';
                        display: block;
                        padding: 1em 3em;
                        text-decoration: none;
                        font-size: 15px;
                        color: $rojobriana;
                    }
                    :hover {
                        background-color: #fff;
                        // color: ;
                        border-top: 3px solid $rojobriana;
                        border-bottom: 3px solid $rojobriana;
                    }
                }
            }
        }
        .menu_logo_android {
            text-align: center;
            padding: 1em 0;
            // backgrounnd-color:red;{
            a {
                i {
                    color: grey;
                }
            }
        }
    }
    .espacio {}
    .background {
        background-image: url('../../images/fondo2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: block;
        height: 100%;
        overflow: hidden;
        .shadow {
            background-image: url('../../images/nubesAzules.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // height: 100%;
            // position:relative;
            // bottom:0px;
            .home_content {
                display: table-cell;
                vertical-align: middle;
                .wrap {
                    margin: 0 auto;
                    .home-data {
                        display: inline-block;
                        vertical-align: middle;
                        width: 100%;
                        .home_title {
                            padding: 0.3em 0;
                            text-align: center;
                            vertical-align: middle;
                            // width:50%;
                            .home_logo {
                                margin: 0 auto;
                                height: 100px;
                                width: 320px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .content_button {
                                width: 230px;
                                margin: 0 auto;
                                a {
                                    padding: 0.5em;
                                    margin: 0.5em 0;
                                    display: block;
                                    text-decoration: none;
                                    border-radius: 6px;
                                    background-color: $rojobriana;
                                    font-weight: bold;
                                }
                                :hover {
                                    background-color: $moradobriana;
                                }
                            }
                        }
                        .home_phone {
                            width: 30%;
                            margin: 0 auto;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.beneficios,
.servicios {
    background-color: $moradobriana;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    .nubes-blancas {
        background-image: url('../../images/nubesBlancas.png');
        background-position: center;
        // background-repeat: no-repeat;
        background-size: cover;
        // position:relative;
        .wrapper {
            .info_definition {
                // color: $grisbriana;
                font-size: $font1;
                padding-top: 0;
                padding-bottom: 2.5em;
            }
            .content_info_article {
                padding-top: 0;
                text-align: center;
                .info_article {
                    margin-bottom: 30px;
                    .article_image {
                        margin: 0 auto;
                        width: 80px;
                        img {
                            width: 100%;
                        }
                    }
                    h3 {
                        margin-top: 0.3em;
                        // margin-bottom: 0.3em;
                        // color: $rojobriana;
                        font-size: $font2;
                    }
                    .article_description {
                        font-size: $font1;
                        // color: $grisbriana;
                    }
                }
            }
        }
    }
}
.screenshots {
    background-image: url('../../images/fondo4.jpg');
    position: relative;
    display: block;
    height: auto;
    .shadow {
        text-align: center;
        .wrapper {
            padding: 2em 0;
            vertical-align: middle;
            max-width: 300px;
            .slider {}
            .slick-slider {}
            .slick-slide {
                img {
                    margin: 0 auto;
                    width: 80%;
                }
            }
        }
    }
}
.servicios {
    background-color: $rojobriana;
    // .wrapper{
    //   h2{
    //     // color:#fff;
    //   }
    //   i {
    //     color: $rojobriana;
    //   }
    // }
}
.objetivo {
    background-image: url('../../images/bebes.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    height: 700px;
    .shadow {
        position: relative;
        // background-color: rgba(black, 0.3);
        .wrapper {
            display: table-cell;
            vertical-align: middle;
            h2 {
                // color: White;
                color: $moradobriana;
                // text-transform: uppercase;
                padding-bottom: 1em;
            }
            .article_description {
                color: $moradobriana;
                font-family: 'comfortaa-bold';
                // font-weight: bold;
                width: 90%;
                margin: auto;
                font-size: 25px;
            }
        }
    }
}
.contacto {
    padding-top: 3em;
    padding-bottom: 3em;
    // background-image: url('../../images/ballas.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    background-color: $moradobriana;
    text-align: center;
    .contacto-title {}
    p {
        margin-top: 8px;
        a {
            text-decoration: none;
        }
        i {
            // color:#fff;
        }
    }
<<<<<<< HEAD
    .button{
  width:44.4%;
  padding: 5px;
 display: inline-block;
  border:none;
  cursor: pointer;
  background-color: white;
}
// .contacto-form{
//   input,.form-texto{
//     color:$GreyLight;
//     width:250px;
//     text-align:left;
//     padding: 5px 10px;
//     border:5px;
//     border-radius: 10px;
//     display:block;
//     margin:0 auto;
//     margin-top: 10px;
//   }
//   .form-texto{
//     // height:100px;
//     max-width:250px;
//     min-height:100px;
//   }
//   .btn-enviar{
//     color:#fff;
//     // fon:bold;
//     display:block;
//     margin:0 auto;
//     margin-top:10px;
//     background-color:$moradobriana;
//     border:2px solid #fff;
//     text-align:center;
//     width:150px;
//   }
// }
=======
    // .contacto-mail {
    //     margin-top: 2em;
    // }
    // .button {
    //     width: 44.4%;
    //     padding: 5px;
    //     display: inline-block;
    //     border: none;
    //     cursor: pointer;
    //     background-color: white;
    // }
    // .contacto-form {
    //     .form-texto,
    //     input {
    //         color: $GreyLight;
    //         width: 250px;
    //         text-align: left;
    //         padding: 5px 10px;
    //         border: 5px;
    //         border-radius: 10px;
    //         display: block;
    //         margin: 10px auto 0;
    //     }
    //     .form-texto {
    //         // height:100px;
    //         max-width: 250px;
    //         min-height: 100px;
    //     }
    //     .btn-enviar {
    //         color: #fff;
    //         // fon:bold;
    //         display: block;
    //         margin: 10px auto 0;
    //         background-color: $moradobriana;
    //         border: 2px solid #fff;
    //         text-align: center;
    //         width: 150px;
    //     }
    // }
>>>>>>> c0a0f521594019cdad9d771f8e4ac7d681ec4a00
    h5 {
        // vertical-align: middle;
        font-weight: normal;
        font-size: 13px;
        // position:relative;
        margin-top: 60px;
        // padding: 3em;
        // color: $grisbriana;
        a {
            i {
                color: red;
            }
            :hover {
                transform: scale(1.5 );
                transition-duration: 1s;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .inicio {
        .menu_logo_movil_abrir {
            display: none;
        }
        .menu {
            display: block !important;
            width: 100%;
            position: fixed;
            z-index: 1;

            height: 10%;
            background-color: White;
            .menu_logo_movil_cerrar {
                display: none;
            }
            .menu_logo_android,
            .menu_secciones {
                display: inline-block;
                vertical-align: middle;
                // padding: 0.3em;
                text-align: center;
                margin: 10px 0px;
            }
            .menu_logo_android {
                padding: 0;
                // text-align: center;
                width: 25%;
                float:right;
                a {
                    i {
                        color: $grisbriana;
                    }
                    :hover {
                        color: $verdeandroid;
                    }
                }
            }
            .menu_secciones {
                width: 75%;
                float:left;
                // padding: 0.3em;
                ul {

                    li {
                      margin:0 4px;
                        display: inline-block;
                        vertical-align: middle;
                        .jump {
                            .icon-menu {
                                // border: none;
                                // color:#fff;
                                background-color: #fff;
                                // width: 3px;
                            }
                            :hover {}
                        }
                        :hover {
                            background-color: $rojobriana;
                            color: #fff;
                            padding-top: 20px ;
                            padding-bottom: 20px;
                            .icon-menu{
                              width: 0px;
                            }
                        }
                        a {
                            padding: 0.2em;
                            text-decoration: none;
                            font-weight: bold;
                            color: $rojobriana;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }
        .espacio{
          height:10%;
        }
        .background {
          height:90%;
            .shadow {
                .home_content {
                    .wrap {
                        .home_title {
                            width: 48%;
                            .content_button {
                                width: 250px;
                            }
                        }
                        .home_phone {
                            width: 25%;
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
    .screenshots {
        .shadow {
            .wrapper {
                padding: 3em 0;
                max-width: 768px;
                .slick-slide {
                    img {
                        margin: 0 auto;
                        width: 80%;
                    }
                }
            }
        }
    }
    .beneficios,
    .servicios {
        .wrapper {
            .content_info_article {
                .info_article {
                    width: 40%;
                    display: inline-block;
                    vertical-align: top;
                    padding: 1em;
                    margin-bottom: 1em;
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .inicio {
      .espacio{

      }
      .background{

        .shadow {
          .home_content {
            .wrap {
              text-align: center;
              width: 60%;
              .home_title {
                vertical-align: top;
                display: inline-block;
                width: 50%;
                .content_button {
                  width: 70%;
                }
              }
              .home_phone {
                display: inline-block;
                width: 40%;
              }
            }
          }
        }
      }
    }
    .screenshots {
        .shadow {
            .wrapper {
                max-width: 992px;
            }
        }
    }
    .beneficios,
    .servicios {
        .wrapper {
            .content_info_article {
                .info_article {
                    width: 30%;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .inicio .background .shadow .home_content .wrap .home_phone img {
        width: 350px;
    }
    .screenshots {
        .shadow {
            .wrapper {
                max-width: 1200px;
            }
        }
    }
    .beneficios {
        .wrapper {
            width: 80%;

        }
    }
}
