$Midnightblue: #24303C;
$Turquoise: #1AB188;
$WetAsphalt:#435259;
$Pink:#B83A64;
$White:#FFFFFF;
$WhiteDark:#F2F2F2;
$Black:#000000;
$GreyLight:#525252;
$GreyDark:#323232;
$fuente_normal:'lato-regular'  ;
$fuente_titulo:'lato-bold';
$fuente_lightItalic:'lato-lightItalic';
