$Midnightblue: #24303C;
$Turquoise: #1AB188;
$WetAsphalt:#435259;
$Pink:#B83A64;
$White:#FFFFFF;
$WhiteDark:#F2F2F2;
$Black:#000000;
$GreyLight:#525252;
$GreyDark:#323232;
$Grey_briana:#9E9E9E;

$briana:#AB70C0;
$red_briana:#F55F5F;
$violet1_briana:#AB70C0;
$violet2_briana:#7E5BE1;

$lato_bold:'lato-bold';
$lato_regular:'lato-regular'  ;
$lato_lightItalic:'lato-lightItalic';
$mitr_bold:'opensans-bold';
$mitr_regular:'opensans-regular';
$mitr_lightItalic:'opensans-lightItalic';
