$Midnightblue: #24303C;
$Turquoise: #1AB188;
$WetAsphalt:#435259;
$Pink:#B83A64;
$White:#FFFFFF;
$WhiteDark:#F2F2F2;
$Black:#000000;
$GreyLight:#525252;
$GreyDark:#323232;

$grisbriana:#9E9E9E;
// $moradobriana:#7E5BE1;
// $rojobriana:#F55F5F;
$verdeandroid:#77C159;

// $moradobriana:#F55F5F;
// $rojobriana:#AB70C0;

// $moradobriana:#AEA3C9;
// $rojobriana:#FAB29E;

$moradobriana:rgb(148,163,211);
$rojobriana:rgb(208,149,194);

$lato-bold:'lato-bold';
$lato-regular:'lato-regular'  ;
$lato-light:'lato-light';

$opensans-bold:'opensans-bold';
$opensans-regular:'opensans-regular';
$opensans-light:'opensans-light';
$font1:18px;
$font2:19px;
$font3:21px;
