.wrapper {
    width: 80%;
    margin: 0 auto;
}
// header .navigation ul li,
// footer  .footer-navigation .navigation ul li{
//   :hover{
//     border-bottom: 4px solid white;
//   }
// }
header {
    //padding: 25px;
    .logo,
    .navigation {
        display: inline-block;
        vertical-align: middle;
        width: 25%;
        padding: 1em;
    }
    .logo {
        // padding: 1em;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            //margin-left: 16%;
        }
    }
    .navigation {
        //float: right;
        width: 70%;
        //      font-family:'lato-bold';
        ul {
            float: right;
            li {
                display: inline-block;
                //width: 15%;
                vertical-align: middle;
                :hover {
                    border-bottom: 4px solid white;
                    // background-color: white;
                    // color: $Pink;
                }
                a {
                    // vertical-align: middle;
                    padding-left: 1em;
                    padding-right: 1em;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
    .title {
        text-align: center;
        //margin: 10em;
        padding: 10em;
        h1,
        h3 {
            font-size: 5em;
            font-weight: normal;
        }
        .content {
            .colum1,
            .colum2,
            .colum3 {
                display: inline-block;
                vertical-align: middle;
            }
            .colum1,
            .colum3 {
                height: 3px;
                width: 15%;
                background: $White;
                text-transform: uppercase;
            }
            h3 {
                font-size: 2em;
                font-style: italic;
                padding: 1em;
            }
        }
    }
}
.body1 {
    text-align: center;
    background: $White;
    padding: 1em;
  .wrapper{
    h1 {
        color: $Black;
        font-size: 3em;
        font-weight: lighter;
        // margin-top: 1em;
        // margin-bottom: 1em;
        padding: 0.8em;
    }
    hr {
        height: 3px;
        background: $GreyDark;
        width: 15%;
        margin: 0 auto;
    }
    .content-article {
        //overflow: hidden;
        // margin-top: 3em;
        // margin-bottom: 3em;
        .art{
            display: inline-block;
            width: 24%;
            margin: 1.5em;
            .art__image {
                // height: 280px;
                // width: 280px;
                // overflow: hidden;
                img {
                    width: 270px;
                    height: 270px;
                    border-radius: 100%;
                    //height: 100%;
                    //width: 100%;
                }
            }
            .art__title {
                // padding-bottom: : 1em;
                // vertical-align: middle;
                h1 {
                    height: 3em;
                    font-style: italic;
                    color: $WetAsphalt;
                    font-weight: bold;
                    font-size: 2em;
                    // vertical-align: middle;;
                }
            }
            .art__text {
                padding-top: 1em;
                p {
                    font-style: italic;
                    color: $WetAsphalt;
                    font-size: 1.5em;
                }
            }
        }
    }
  }
}
.body2 {
    background: $Black;
    padding: 3em;
    text-align: center;
    // .img--imagen {
    //     width: 20%;
    //     height: 230px;
    //     display: inline-block;
    //     padding: 8px;
    //     background: white;
    //     margin: 8px;
    //     img {
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    .images {
        padding-bottom: 5em;
        .img__imagen {
            width: 20%;
            height: 250px;
            display: inline-block;
            border-radius: 0.2em;
            border: 0.4em solid $White;
            margin: 1em;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .btn {
        // margin-top: 4em;
        .btn--follow {
            background: $White;
            border-radius: 0.5em;
            padding: 2em;
            img {
                display: inline-block;
                width: 4em;
                height: 3em;
                vertical-align: middle;
            }
            h1 {
                color: $Black;
                display: inline-block;
                text-decoration: none;
                vertical-align: middle;
            }
        }
    }
}
footer {
    text-align: center;
    .footer-contactUs {
        padding: 1em;
        background: $Pink;
        .title_contactUs {
            font-size: 3em;
            color: $White;
            padding: 0.5em;
            position: relative;
            text-align: center;
            &::after {
                content: '';
                width: 150px;
                height: 3px;
                display: inline-block;
                background-color: white;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
        }
        .content_contactUs {
            margin: 2em auto 0;
            width: 85%;
            overflow: hidden;
            //padding: 1em;
            .form_contactUs {
                width: 48%;
                float: left;
                .btn--send,
                input,
                textarea {
                    width: 100%;
                    display: block;
                    margin-bottom: 1em;
                    padding: 1em;
                    border-radius: 5px;
                    //padding-top: 2em;
                    font-size: 25px;
                    color: black;
                    height: 3em;
                    //font-family: 'lato-light';
                }
                input {
                    &::-webkit-input-placeholder {
                        font-size: 1em;
                    }
                    &::-moz-input-placeholder {
                        font-size: 1em;
                    }
                    &::-ms-input-placeholder {
                        font-size: 1em;
                    }
                }
                textarea {
                    max-width: 100%;
                    min-height: 6em;
                    &::-webkit-input-placeholder {
                        font-size: 1em;
                    }
                    &::-moz-input-placeholder {
                        font-size: 1em;
                    }
                    &::-ms-input-placeholder {
                        font-size: 1em;
                    }
                }
                .btn--send {
                    color: white;
                    font-weight: bold;
                    background-color: #222 !important;
                }
            }
            .content-mapa {
                width: 48%;
                float: right;
                //height: 300px;
                //border-radius: 5px;
                //background: yellow;
                .mapa {
                    width: 100%;
                    height: 350px;
                    //background: Yellow;
                    border-radius: 5px;
                }
                .content-direccion {
                    padding: 2em;
                    text-align: center;
                    .direccion {
                        font-size: 1.5em;
                        font-family: 'lato-lightItalic' !important;
                    }
                }
            }
        }
    }
    .footer-navigation {
        padding: 2em;
        background: black;
        .navigation,
        .social .navigation {
            margin: 3em;
            ul {
                //text-align: center;
                li {
                    display: inline-block;
                    //width: 5%;
                    //padding-left: : 10em;
                    vertical-align: middle;
                    a {
                        padding-left: 1em;
                        padding-right: 1em;
                        //vertical-align: middle;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        img {
                            width: 4em;
                            height: 4em;
                            border-radius: 100%;
                            border: 2px solid white;
                        }
                    }
                }
            }
        }
        .social .navigation ul li a img {
            border-radius: 1em;
            //border: 1em solid white;
            background: white;
        }
    }
    .footer-copyright {
        background-color: $GreyDark;
        //margin: 2em;
        p {
            color: $GreyLight;
            padding: 2em;
        }
    }
}
// @media screen and (max-width:1000px) {
//     .wrapper {
//         width: 100%;
//     }
//     .logo,
//     .navigation {
//         text-align: center;
//         display: block !important;
//         width: 100% !important;
//         margin-bottom: 20px;
//     }
//     .logo {
//         img {
//             margin: 0 !important;
//         }
//     }
//     .navigation {
//         background-color: #fff;
//         width: 100%;
//         ul {
//             li {
//                 width: auto !important;
//                 display: block !important;
//                 padding: 0;
//                 border-bottom: 1px solid $Pink;
//                 a {
//                     width: auto !important;
//                     text-decoration: none;
//                     text-transform: uppercase;
//                     font-weight: bold;
//                     font-family: Arial;
//                     padding: 15px;
//                     color: $Pink;
//                     display: block;
//                     &:hover {
//                         background-color: $Pink;
//                         color: #FFF;
//                     }
//                 }
//             }
//         }
//     }
// }
@media screen and (max-width:1200px) {
    .wrapper {
        width: 100%;
    }
    header .wrapper .logo,
    header .wrapper .navigation ul {
        text-align: center;
    }
}
@media screen and (max-width:992px) {
    header .wrapper {
        text-align: center;
        .navigation {
            padding-top: 2em;
            text-align: center;
            width: 100%;
            display: inline-block;
            ul {
                float: none;
            }
        }
    }
    .body1 .wrapper .content-article .art {
        .art__image {
            img{
              height: 210px;
              width: 210px;
            }
        }
        .art__title {
          h1{
            height: 4em;
          }
            //height: 6em;
            font-size: 1em;
        }
        .art__text {
            font-size: 0.8em;
        }
    }
    .body2 .wrapper .images {
        padding-bottom: 3em;
        .img__imagen {
            width: 250px;
            // height: ;
        }
    }
}
@media screen and (max-width:768px) {
    .body1 {
        padding: 0;
        .wrapper{
          .content-article {
              width: 80%;
              margin: 0 auto;
              .art {
                  width: 100%;
                  margin: 0;
                  padding: 1.5em;
                  display: inline-block;
                  .art__image {
                    // height: 250px;
                    // width: 250px;
                    img{
                      height: 250px ;
                      width: 250px ;
                    }
                  }
                  .art__title {
                    h1{
                      height: 100%;
                    }
                  }
                  .art__text {
                    padding-top: 0;

                      p {
                          padding-top: 0em ;
                      }
                  }
              }
          }
        }
    }
}
// @media screen and (max-width:768px) {
//     header {
//         height: 360px;
//         .wrapper {
//             overflow: hidden;
//             .menu-header {
//                 width: 100%;
//                 overflow: hidden;
//                 .logo {
//                     float: left;
//                 }
//                 .menu-mobile {
//                     float: right;
//                     color: green;
//                 }
//                 .navigation {
//                     display: none;
//                 }
//             }
//         }
//     }
//     .body1 {
//         min-width: 320px;
//         .content-article {
//             width: 80%;
//             margin: 0 auto;
//             .art {
//                 width: 100%;
//                 margin: 0;
//                 padding: 2em;
//                 display: inline-block;
//                 .art__image {}
//                 .art__title {}
//                 .art__text {
//                     p {
//                         padding-top: 0;
//                     }
//                 }
//             }
//         }
//     }
// }
