//Lato
@font-face {
    font-family: 'lato-bold';
    src: url('../../fonts/Lato-Bold.ttf')format('truetype');
}
@font-face {
    font-family: 'lato-light';
    src: url('../../fonts/Lato-Light.ttf')format('truetype');
}
@font-face {
    font-family: 'lato-regular';
    src: url('../../fonts/Lato-Regular.ttf')format('truetype');
}

// conforta
// Comfortaa-Bold
@font-face {
    font-family: 'comfortaa-bold';
    src: url('../../fonts/Comfortaa-Bold.ttf')format('truetype');
}
@font-face {
    font-family: 'comfortaa-light';
    src: url('../../fonts/Comfortaa-Light.ttf')format('truetype');
}
@font-face {
    font-family: 'comfortaa-regular';
    src: url('../../fonts/Comfortaa-Regular.ttf')format('truetype');
}


// Dosis
@font-face {
    font-family: 'dosis-bold';
    src: url('../../fonts/Dosis-Bold.ttf')format('truetype');
}
@font-face {
    font-family: 'dosis-light';
    src: url('../../fonts/Dosis-Light.ttf')format('truetype');
}
@font-face {
    font-family: 'dosis-regular';
    src: url('../../fonts/Dosis-Regular.ttf')format('truetype');
}

//rubi
@font-face {
    font-family: 'rubik-bold';
    src: url('../../fonts/Rubik-Bold.ttf')format('truetype');
}
@font-face {
    font-family: 'rubik-light';
    src: url('../../fonts/Rubik-Light.ttf')format('truetype');
}
@font-face {
    font-family: 'rubik-regular';
    src: url('../../fonts/Rubik-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'nunito-bold';
    src: url('../../fonts/Nunito-Bold.ttf')format('truetype');
}
@font-face {
    font-family: 'nunito-light';
    src: url('../../fonts/Nunito-Light.ttf')format('truetype');
}
@font-face {
    font-family: 'nunito-regular';
    src: url('../../fonts/Nunito-Regular.ttf')format('truetype');
}
