@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/fonts/Lato-Bold.ttf')format('truetype');
}
@font-face {
    font-family: 'lato-light';
    src: url('../fonts/Lato-Light.ttf')format('truetype');
}
@font-face {
    font-family: 'lato-lightItalic';
    src: url('../fonts/Lato-LightItalic.ttf')format('truetype');
}
@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/Lato-Regular.ttf')format('truetype');
}
