@font-face {
    font-family: "slick" !important;
    src: url("../fonts/slick.eot") !important;
    src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg") !important;
    font-weight: normal !important;
    font-style: normal !important;
}
